/* Déclaration des polices de caractère */
@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri-Regular.ttf");
}

/* Desactiver les styles par défaut */

body {
    margin: 0;
}

a {
    text-decoration: none; /* on enlève le soulignement par défaut du text */
    color: inherit; /* on dit que la couleur du texte doit être la même que le parent */
}

/* Les styles globaux */

body {
    font-family: 'HindSiliguri', Arial;
}



/* Background image */

.background {
    height: 100vh; /* vh = view height = la hauteur de la fenetre du navigateur */ 
    background-image: url(../images/groupe1.jpg);
    background-size: cover;
    background-position: center;

    text-align: center; /* Pour centrer les enfants */
}

/* Home screen */

.logo {
    height: 180px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 0 10%;
}

.button {
    font-size: 18px;
    padding: 7px 20px;
    border-radius: 4em;
    border: solid white 2px;
    cursor: pointer;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    transition: color 0.3s;
    transition: background-color 0.3s;

    width: 150px;
}

/* Ajouter du style uniquement au survol d'un élément */
/* hover = survol avec la souris */
.button:hover {
    color: #6C0505;
    background-color: #FFDB5A;
}

.social-links-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 20% 20px 20%;
    gap: 20px;
}

.social-link {
    display: flex;
    gap: 10px;

    color: white;
    font-size: 18px;
}

.social-link i {
    color: white;
    font-size: 30px;
}