/* ============================================= */
/* ==== Déclaration des polices de caractère === */
/* ============================================= */

@font-face {
    font-family: "HindSiliguri";
    src: url("../fonts/HindSiliguri-Regular.ttf");
}

/* ======================================== */
/* === Desactiver les styles par défaut === */
/* ======================================== */

body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
}

a {
    text-decoration: none;
    /* on enlève le soulignement par défaut du text */
    color: inherit;
    /* on dit que la couleur du texte doit être la même que le parent */
}

ul {
    list-style-type: none;
}


/* ========================== */
/* === Les styles globaux === */
/* ========================== */

body {
    font-family: 'HindSiliguri', Arial;
}

section {
    min-height: 100vh;
    padding: 20vh 4rem 0 4rem;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a:hover {
    text-decoration: underline;
}

/*Essai pour supprimer le surlignage des icônes de Font Awesome*/
a i[class^="fa-"]:hover,
a i[class*=" fa-"]:hover {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
}

.yellow-bg {
    background: linear-gradient(to right, #ffdb5a, #fff0d4);
}

.hide {
    display: none;
}

.button {
    font-size: 1.1rem;
    text-align: center;

    padding: 0.5rem 1.2rem;
    border-radius: 1em;
    border: solid white 2px;
    cursor: pointer;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    transition: color 0.3s;
    transition: background-color 0.3s;

    width: 10.5rem;
}

.button:hover {
    /* Ajouter du style uniquement au survol d'un élément */
    color: #6C0505;
    background-color: #FFDB5A;
    border-color: #FFDB5A;
    text-decoration: none;
}

/* ==================== */
/* === Home section === */
/* ==================== */

#home {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home.background {
    background-image:
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
        /* overlay : couche transparente noire au dessus de l'image */
        url("../images/groupes/groupe1.jpg");
    /* https://codepen.io/cferdinandi/pen/VwaOLrG */
    background-size: cover;
    background-position: center;
}

#home .logo {
    display: block;
    height: 10rem;
    margin: 0 auto;
    /* pour centrer le logo */
}

#home .buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: space-around;
    margin: 0 10%;
}



#home .social-links-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1.2rem 20% 3rem 20%;
    gap: 1.2rem;
}

#home .social-links-container a i:before {
    text-decoration: none;
    display: inline-block;
}

#home .social-link {
    display: flex;
    gap: 0.8rem;

    font-size: 1.2rem;
}

#home .social-link i {
    font-size: 2rem;
}

#home h1 {
    margin-top: 3rem;
}

#home p {
    font-size: 1.3rem;
    text-align: center;
    padding: 0 2rem;
}

#home .slider-buttons {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding-bottom: 1.3rem;
}

#home .slider-buttons i {
    cursor: pointer;
}

#home .submenu {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;

    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 0 0 14vw;
    width: 11vw;
    padding: .7vh 0;

}



#home .submenu a {
    display: block;
    margin: 1vh 0vw;
    color: white;
    transition: .2s ease-out;
    padding: 7px 21px;
}

#home .submenu a:hover {
    border-radius: 1em;
    color: #6C0505;
    background-color: #FFDB5A;
    text-decoration: none;
}



/* ======================== */
/* ======= LA NAVBAR ====== */
/* ======================== */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, .5);
    color: white;
    backdrop-filter: blur(10px);

    position: sticky;
    top: 0;

    z-index: 9;
}

nav img {
    height: 17vh;
}

.menu {
    display: flex;
    margin-right: 1.2rem;
    gap: 1.2rem;
}

.menu-socials {
    text-align: right;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
}

.menu-socials a {
    padding-left: 1.2rem;
}




/* ============================ */
/* ==== SECTION PARTENAIRES === */
/* ============================ */

#partenaires img {
    max-height: 15.5rem;
    max-width: 15.5rem;
    margin-bottom: 4.4rem;
    transition: .5s ease-in;
}

#partenaires img:hover {
    transform: scale(1.2);
}

#partenaires .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 4.3rem;
}


/** ========================================
*       La section Nos actions
================================================*/

.actions-list {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.actions-card__img {
    width: 100%;
    height: 50%;
}

.actions-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.action-description {
    padding-top: 1rem;
    text-align: center;
}

.action {
    /*
      margin peut prendre un deux ou 4 valeurs

      Si il n'y en a qu'une : on applique la marge sur les 4 côté
      Si il y en a deux : la première valeur est appliquée en haut et en bas tandis que la seconde est appliquée a guache et a droite
      Si il y en a 4 les valeurs sont appliquées sur chacun des côté :  haut droite bas gauche

    */

    /*
     1vh représente une unité de viewport sur la hauteur (viewport Height)
     1vw représente une unité de viewport sur la largeur (viewport width)

     lorsque vous utilisez viewport
     1vh fera 1% de la hauteur
     1vw fera 1% de la largeur de l'écran
     */
    width: 30%;

    /* RGB est une fonction qui permet de séléctionner une couleur en fonction d'une addition de niveau entre le rouge le vert et le bleu
    ON peut rajouter a qui correspond à ALpha qui fait écho à la transparence
        chaque valeurs évolue entre 0 et 255
        0 + sombre
        255 + clair

        pour la transparence
        0 - total transparence
        255 - pas de transparence
    */
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.masque {
    overflow: hidden;
}





/* ====================================================
*  Section medias
=================================================*/

.action-youtube {
    text-align: left;
    padding: 0 1rem; /* top/bottom left/right */
}

.article-item {
    padding: 0.5vh 0;
}

.media-articles_content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 1rem;
}

.media-articles__title {
    width: 100%;
}

.media-articles ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.media-articles ul li {
    width: 30%;
    height: 7rem;
    overflow: hidden;
}

.media-articles ul li img {
    max-width: 100%;
}

.media-articles ul li div {
    position: relative;
}

/* pour positionner la balise p dans son parent, on positionne le parent en relative d'abord */
.media-articles ul li p {
    position: absolute;
    top: 0;
    color: white;
    text-shadow: 1px 1px black;
    padding: 0.5rem;
    background-color: #0000002d;
    height: 100%;
}



.article-logo {
    width: 40%;
}

.article-logo>img {
    width: 100%;
    height: auto;
}

.media-yt-embed {
    width: 30vw;
    height: 40vh;
}

/**=====================================================

GESTION DU RESPONSIVE

*=======================================*/
/** On va ajouter des règle css pour les écran faisant moin de 500px de large*/
/* Si l'écran mesure au maximum 576px alors  : */
@media (max-width: 576px) {

    /** notre action prend 752% de la largeur et donc s'empile sur les autres**/
    .action {
        width: 75vw;
    }

    .masque {
        min-width: 75vw;
        min-height: 75vw;
        width: 75vw;
        height: 75vw;
    }

    .masque img {
        width: 75vw;
        height: 75vw;
        margin: 0 auto;
    }

    .media-yt-embed {
        width: 75vw;
        margin-bottom: 4vh;
    }

    .article-logo {
        width: 75vw;
        margin: 2vh auto;
    }

    .articles {
        margin: 2vh auto;
    }

}

/*====================================================
*   Section contact
*=====================================================*/

#openstreetmap {
    width: 40vw;
    height: 40vh;
    margin: auto auto;
    z-index: 1;
}