/* ============================================= */
/* ==== Déclaration des polices de caractère === */
/* ============================================= */

@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri-Regular.ttf");
}

/* ======================================== */
/* === Desactiver les styles par défaut === */
/* ======================================== */

body {
    margin: 0;
    position: relative;
}

a {
    text-decoration: none; /* on enlève le soulignement par défaut du text */
    color: inherit; /* on dit que la couleur du texte doit être la même que le parent */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ========================== */
/* === Les styles globaux === */
/* ========================== */

body {
    font-family: 'HindSiliguri', Arial;
}

section {
    height: 100vh;
}

/* ======================== */
/* === Background image === */
/* ======================== */

.background {
    height: 100vh; /* vh = view height = la hauteur de la fenetre du navigateur */

    background-image: 
        linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), /* overlay : couche transparente noire au dessus de l'image */
        url("../images/groupe1.jpg"); /* https://codepen.io/cferdinandi/pen/VwaOLrG */
    
    background-size: cover;
    background-position: center;
}

/* =================== */
/* === Home screen === */
/* =================== */

#home {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: block;
    height: 180px;
    margin: 0 auto; /* pour centrer le logo */
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin: 0 10%;
}

.button {
    font-size: 18px;
    text-align: center;

    padding: 7px 20px;
    border-radius: 4em;
    border: solid white 2px;
    cursor: pointer;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    transition: color 0.3s;
    transition: background-color 0.3s;

    width: 150px;
}

.button:hover { /* Ajouter du style uniquement au survol d'un élément */
    color: #6C0505;
    background-color: #FFDB5A;
}

.social-links-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 20% 50px 20%;
    gap: 20px;
}

.social-link {
    display: flex;
    gap: 10px;

    font-size: 18px;
}

.social-link i {
    font-size: 30px;
}

h1, p {
    text-align: center;
    padding: 0 20px;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
}

.slider-buttons i {
    cursor: pointer;
}


/* ======= LA NAVBAR ====== */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, .5);
    color: white;
    backdrop-filter: blur(10px);

    position: sticky;
    top: 0;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

/* ==== SECTION PARTENAIRE === */

#partenaires, #actions {
    padding-top: 100px;
    padding-right: 70px;
    padding-left: 70px;
    box-sizing: border-box;
}

#partenaires {
    background: linear-gradient(to right, #ffdb5a, #fff0d4);
}

#partenaires img {
    max-height: 250px;
    max-width: 250px;
    margin-bottom: 100px;
}

#partenaires h2 {
    font-size: 16px;
}

#partenaires .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
